div {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  text-align: left;
  color: black;
  font-size: 0.9em;
}
h2 {
  text-align: left;
  color: white;
  font-size: 0.8em;
}
.encabezado {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-start;
  background-color: gray;
  height: 20vh;
  color: black;
  border: 4px;
  border-color: black;
  border-style: solid;
  padding: 0.8%;
}
.menu1 {
  background-color: green;
  height: 4vh;
  width: 20vw;
  margin-left: 57vw;
  border: 4px;
  border-color: black;
  border-style: solid;
  padding-bottom: 0.8%;
}
.logo {
  background-color: blue;
  height: 4vh;
  width: 20vw;
  margin-right: 5vw;
  border: 4px;
  border-color: black;
  border-style: solid;
  padding: 0.6%;
}
.menu2 {
  background-color: darkred;
  height: 4vh;
  width: 60vw;

  margin-left: 3vw;
  border: 4px;
  border-color: black;
  border-style: solid;
  padding: 0.6%;
}
.padreCentroSuperior {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.izquierda {
  background-color: lightslategray;
  height: 55vh;
  width: 31.5vw;
  border: 4px;
  border-color: black;
  border-style: solid;
}
.centro {
  background-color: teal;
  height: 55vh;
  width: 31.5vw;
  border: 4px;
  border-color: black;
  border-style: solid;
}
.derecha {
  background-color: sandybrown;
  height: 55vh;
  width: 31.5vw;
  border: 4px;
  border-color: black;
  border-style: solid;
}
.padreCentroInferior {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5%;
}
.izquierda2 {
  background-color: darkgreen;
  height: 55vh;
  width: 58vw;
  border: 4px;
  border-color: black;
  border-style: solid;
}
.derecha2 {
  background-color: saddlebrown;
  height: 55vh;
  width: 38vw;
  border: 4px;
  border-color: black;
  border-style: solid;
}

.pie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: deepskyblue;
  height: 20vh;
  color: black;
  border: 4px;
  border-color: black;
  border-style: solid;
  padding: 0.5%;
}
.elemento {
  background-color: blue;
  height: 5vh;
  width: 10vw;
  align-self: flex-end;
  border: 4px;
  border-color: black;
  border-style: solid;
}
/* En los todos los Div padres, salvo el padre encabezado, 
cuando minimizo o maximizo la ventana, se mantiennen las proporciones 
de sus propiedades.
En el caso del padre encabezado, los Div hijos no así, porque no
pude lograr lo mismo que los Div anteriores*/
